
  @media (min-width: 550px) {
    .content .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: var(--space-medium);
      grid-row-gap: var(--space-small);
    }
  }
  
  @media (min-width: 750px) {
    .content .grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: var(--space-big);
    }
  }

.content h1, h2 {
  text-align: center;
}  

